@font-face {
    font-family: 'Dancing Script';
    src: url('/src/assets/fonts/DancingScript-Regular.ttf') format('truetype');
  }


.cabecalho{

    background: rgb(255,245,213);
    background: linear-gradient(90deg, rgba(255,245,213,1) 0%, rgba(255,178,224,1) 99%);

    position: absolute;

    h1{
        font-family: 'Dancing Script';
        font-size: 100px;
        text-align: center;
    }
}

.titulo{

    position: relative;
    right: 500px;

    width: 500px;
    height: 500px;
    background-color:rgb(255, 208, 247);

    word-wrap: break-word;
}