<nav #navbar class="navbar navbar-default navbar-background">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <div class="" *ngIf="isMobileMenu()">
                
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="" style="padding: 0px 15px; margin: 0px 3px;">
                            <div class="logo-img">
                                <img src="../../assets/img/logoDashboardNavbar.png"/>
                            </div>
                        </a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">



                    <ng-container *ngIf="estaLogado">
                        <li>
                            <a [routerLink]="['/produto']">
                                <p>Produtos</p>
                            </a>
                        </li>
                    </ng-container>

                    <li>
                        <a [routerLink]="['/shop']">
                            <p>Shop</p>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/carrinho']">
                            <i class="pe-7s-cart"></i><p>Carrinho</p>
                        </a>
                    </li>

                    <li class="dropdown dropdown-with-icons">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list"></i>
                            <p class="hidden-md hidden-lg">
                                More
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <ng-container *ngIf="estaLogado; else naoEstaLogado">
                                <li>
                                    <a [routerLink]="['/encomendas']">
                                        <i class="pe-7s-news-paper"></i>
                                        Encomendas
                                    </a>
                                </li>
                                <li>
                                    <a (click)="logout()" href class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        Sair
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #naoEstaLogado>
                                <li>
                                    <a (click)="logout()" href="http://localhost:4200/#/pages/login">
                                        <i class="pe-7s-right-arrow"></i>
                                        Fazer login
                                    </a>
                                </li>
                            </ng-template>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
