<div class="background">
  <div class="main-content" style="padding: 0px 25px">
    <div class="content-fluid">

      <section id="introducao">

        <div class="row">

          <section id="banner">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="titulo">Cegonha dos Brincos</h1>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3 class="sub-titulo">A melhor empresa para te acompanhar em seus novos furos.</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn-vejaAgora btn btn-wd" style="padding: 10px 75px;" [routerLink]="['/shop']">VEJA
                    AGORA</button>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="col-md-4">
              <img src="../../../assets/img/logoDashboard.png" alt="Logo Dashboard">
            </div>
          </section>

        </div>
      </section>

      <section id="modeloBabys">

        <div class="row">
          <div class="col-md-12">
            <div class="row" style="">
              <div class="card card-modeloBabys" style="background-color: #EEEFF0;">

                <div class="header">
                  <h4 class="card-baby-titulo">ESSES SÃO NOSSOS MODELOS BABYS</h4>
                </div>

                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <H1 class="card-baby-subTitulo">Fofos!!</H1>
                    </div>
                  </div>

                  <div class="row">
                    <img src="../../../assets/img/modeloBaby.png" alt="Modelo babys"
                      style="width: 50em; margin-left: 2em">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </section>

      <section id="valores">

        <div class="row" style="margin-left: 140px; padding-top: 70px">

          <div class="col-md-12">
            <div class="col-md-4">
              <div class="card" style="background-color: #EEEFF0; height: 200px">
                <div class="header" style="font-size: 24px; text-align: center">
                  <p class="card-baby-titulo">Apenas furo!</p>
                </div>
                <div class="contennt">
                  <h1 class="card-baby-subTitulo" style="word-wrap: break-word; font-size: 57px">R$39,99</h1>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card" style="background-color: #EEEFF0; height: 200px">
                <div class="header" style="font-size: 24px; text-align: center">
                  <p class="card-baby-titulo">Furo + brincos</p>
                </div>
                <div class="contennt">
                  <h1 class="card-baby-subTitulo" style="word-wrap: break-word; font-size: 57px">R$69,99</h1>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card" style="background-color: #EEEFF0; height: 200px">
                <div class="header" style="font-size: 24px; text-align: center">
                  <p class="card-baby-titulo">Furo baby</p>
                </div>
                <div class="contennt">
                  <h1 class="card-baby-subTitulo" style="word-wrap: break-word; font-size: 50px">R$129,99</h1>
                </div>
              </div>
            </div>
          </div>



        </div>

      </section>

    </div>
  </div>
</div>