<div class='main-content' style="background-color: #E48586; padding-bottom: 210px">
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>

                <div class='card' style="background-color: #ba6061; color: #fec">
                    <div class='header' style="color: #fec">
                        Cadastro de Produto
                    </div>
                    <div class='content'>
                        <form [formGroup]='formularioCadastroProduto' #f='ngForm' (submit)='salvar()' novalidate>
                            <div class='row'>
                                <div class='col-md-4 form-group'>
                                    <label for='nome' class='control-label' style="color: #fec"> Nome: <span
                                            class='star'> *</span>
                                    </label>
                                    <input formControlName='nome' placeholder='Insira o nome' type='text'
                                        class='form-control' id='nome' maxlength='55'>
                                    <small class='text-danger' style="color: #fec"
                                        *ngIf="formularioCadastroProduto.get('nome')?.errors?.required && f.submitted">
                                        É necessário inserir um Nome
                                    </small>
                                </div>
                                <div class='col-md-4 form-group'>
                                    <label for='valor' class='control-label' style="color: #fec"> Valor: <span
                                            class='star'> *</span>
                                    </label>
                                    <input formControlName='valor' placeholder='Insira o valor' type='text'
                                        class='form-control' id='valor' maxlength='55'>
                                    <small class='text-danger' style="color: #fec"
                                        *ngIf="formularioCadastroProduto.get('valor')?.errors?.required && f.submitted">
                                        É necessário inserir um Valor
                                    </small>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="quantidade" class="control-label" style="color: #fec">Quantidade: <span
                                            class='star'> *</span></label>
                                    <input type="number" formControlName="quantidade" placeholder="Insira a quantidade"
                                        class='form-control' id="quantidade" min=0>
                                    <small class='text-danger' style="color: #fec"
                                        *ngIf="formularioCadastroProduto.get('quantidade')?.errors?.required && f.submitted">
                                        É necessário inserir uma quantidade
                                    </small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='descricao' class='control-label' style="color: #fec"> Descricao: <span
                                            class='star'>
                                            *</span>
                                    </label>
                                    <textarea formControlName='descricao' placeholder='Insira a descrição' type='text'
                                        class='form-control' id='descricao' maxlength='255' aria-rowspan="2"></textarea>
                                    <small style="color: #fec">
                                        Caracteres restantes:
                                        {{formularioCadastroProduto.get('descricao').value.length}} / 255
                                    </small>
                                    <small class='text-danger'
                                        *ngIf="formularioCadastroProduto.get('descricao')?.errors?.required && f.submitted">
                                        É necessário inserir Descricao
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 box-imagens">
                                    <label for="foto" class="btn btn-fill btn-success">Selecionar Imagens</label>
                                    <input class="form-control" id="foto" style="display: none;"
                                        (change)="atualizarArquivo($event)" type="file" accept=".png, .jpg">
                                </div>
                                <!-- <div class='col-md-1 form-group'>
                                    <label for='vendido' class='control-label' style="color: #fec"> Vendido:
                                    </label><br>
                                    <bSwitch formControlName='vendido' id='vendido' [switch-on-color]="'success'"
                                        [switch-off-text]="'Não'" [switch-on-text]="'Sim'"></bSwitch>
                                </div> -->
                                <ng-container *ngIf="formularioCadastroProduto.get('vendido').value">
                                    <div class='col-md-2 form-group'>
                                        <label for='dataVenda' class='control-label' style="color: #fec"> Data da Venda:
                                            <span class='star'>
                                                *</span>
                                        </label>
                                        <input formControlName='dataVenda' placeholder="Insira a data de venda"
                                            type='date' class='form-control' id='dataVenda' maxlength='55'>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row">
                                <div class="col-md-12" *ngIf="fileUpload != null">
                                    <button (click)="removerArquivo()" type="button"
                                        style="margin-right: 10px; margin-top: 3px;" class="btn btn-xs btn-primary">
                                        <span class="btn-label">
                                            <i class="fa fa-times"></i> {{fileUpload.nome}}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-2 col-md-offset-8'>
                                    <button class='btn btn-danger btn-fill' [routerLink]="'/produto'"
                                        style='width: 100%;'>
                                        <i class='pe-7s-back' style='font-weight: bold;'></i> Cancelar
                                    </button>
                                </div>
                                <div class='col-md-2'>
                                    <button class='btn btn-primary btn-fill' type='submit' style='width: 100%;'
                                        [disabled]='viewOnly'>
                                        <i class='pe-7s-diskette' style='font-weight: bold;'></i> Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>