<div class='main-content' style="background-color: #E48586; padding-bottom: 260px">
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='card' style="background-color: #ba6061;">
          <div class='header'>
            <h4 style="color: #fec">Pesquisar</h4>
          </div>
          <div class='content'>
            <form [formGroup]='formulario'  (submit)='pesquisarPorCampo()'>
              <div class='row'>
                <div class='col-md-5 form-group'>
                  <label for='valorFiltro' class='control-label' style="color: #fec"> Filtro:</label>
                  <select name='valorFiltro' class='form-control' id='valorFiltro'
                    formControlName="_valorFiltro" (change)="tipoFiltro = $event.target.value; limparInput()">
                    <option value=null selected disabled>Selecione...</option>
                    <option value='Nome'>Nome</option>
                    <option value='Email'>Email</option>
                    <option value='Cep'>Cep</option>
                    <option value='Status'>Status</option>
                  </select>
                </div>

                <ng-container *ngIf="tipoFiltro === 'Status'; else inputText">
                  <div class="col-md-5 form-group">
                    <label for="campoInput" class="control-label" style="color: #fec">Status: </label>
                    <select class="form-control" formControlName="_valorInputFiltro">
                      <option value=null selected disabled>Selecione...</option>
                      <option [ngValue]="false">Pendente</option>
                      <option [ngValue]="true">Finalizado</option>
                    </select>
                  </div>
                </ng-container>
                <ng-template #inputText>
                  <div class='col-md-5 form-group'>
                    <label for='Nome' class='control-label' style="color: #fec"> Nome do Campo:</label>
                    <input type='text' id='Nome' class='form-control' placeholder='Insiro o nome do campo' value=''
                      formControlName='_valorInputFiltro'>
                  </div>
                </ng-template>


                <div class='col-md-2 form-group'>
                  <label for='Submit' class='control-label'><span class='star'></span></label>
                  <button class='btn btn-pesquisar' type='submit' style='width:100%;' id='Submit'>
                    <i class='fa fa-search'></i> Pesquisar</button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group" *ngIf="filtros.length > 0">
                  <label for='filtrar' class='control-label' 
                  style="color: #fec">Filtrar({{quantidadeFiltros}})</label>
                  <div id="filtrar">
                    <button type="button" style="margin-right: 10px;" *ngFor="let filtro of filtros"
                      (click)="Remover(filtro)" class="btn btn-xs btn-primary"><span class="btn-label"><i
                        class="fa fa-times"></i></span>{{filtro.key}}: <strong>{{filtro.label}}</strong></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <section id="listagem" class="card" style="background-color: #ba6061;">
      <div class="content">
        <div style="overflow-x: auto;">
          <app-encomenda-lista [filtro]="filtro" [data]="encomendas" (paginacao)="setPaginacao($event)"></app-encomenda-lista>
        </div>
        <app-paginacao (paginacaoAplicada)="paginacaoAplicada($event)"
          (alteracaoItensPagina)="alteracaoItensPagina($event)" [paginacao]="paginacao"></app-paginacao>
      </div>
    </section>


  </div>
</div>