<div class="main-content" style="background-color: #E48586; padding-bottom: 420px">
  <div class="container-fluid">

    <section id="pesquisar">
      <div class="row">
        <div class="col-md-12">

          <div class="card" style="background-color: #ba6061; ">
            <div class="header">
              <h4 class="label-cardPesquisar">Pesquisar</h4>
            </div>
            <div class="content">
              <form [formGroup]='formulario' (submit)='pesquisarPorCampo()'>
                <div class='row'>
                  <div class='col-md-5 form-group'>
                    <label for='valorFiltro' class='control-label' style="color: #fec;"> Filtro:</label>
                    <select class='form-control' id='valorFiltro' formControlName="_valorFiltro"
                      (change)="tipoFiltro = $event.target.value; limparInput()">
                      <option value=null selected disabled>Selecione...</option>
                      <option value='Nome'>Nome</option>
                      <option value='Valor'>Valor</option>
                      <option value='Descricao'>Descricao</option>
                    </select>
                  </div>

                  <ng-container *ngIf="tipoFiltro === 'Valor'; else inputText">
                    <div class="col-md-5 form-group">
                      <label for="nome" class="control-label" style="color: #fec">Valor: </label>
                      <select class="form-control" formControlName="_valorInputFiltro">
                        <option value=null selected disabled>Selecione...</option>
                        <option [ngValue]="49.99">49.99</option>
                        <option [ngValue]="59.99">59.99</option>
                        <option [ngValue]="69.99">69.99</option>
                      </select>
                    </div>
                  </ng-container>
                  <ng-template #inputText>
                    <div class='col-md-5 form-group'>
                      <label for='Nome' class='control-label' style="color: #fec;"> Nome do Campo:</label>
                      <input type='text' id='Nome' class='form-control' placeholder='Nome do Campo'
                        formControlName='_valorInputFiltro'>
                    </div>
                  </ng-template>

                  <div class='col-md-2 form-group'>
                    <label for='Submit' class='control-label'><span class='star'></span></label>
                    <button class='btn btn-pesquisar' type='submit' id='Submit'>
                      <i class='fa fa-search'></i> Pesquisar</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group" *ngIf="filtros.length > 0">
                    <label for='filtrar' class='control-label'
                      style="color: #fec">Filtrar({{quantidadeFiltros}})</label>
                    <div id="filtrar">
                      <button type="button" style="margin-right: 10px;" *ngFor="let filtro of filtros"
                        (click)="Remover(filtro)" class="btn btn-xs btn-primary"><span class="btn-label"><i
                            class="fa fa-times"></i></span>{{filtro.key}}: <strong>{{filtro.label}}</strong></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <section id="tabela" *ngIf="produtos.length > 0">
      <ng-container *ngFor="let produto of produtos">
        <app-showcase [produto]="produto"></app-showcase>
      </ng-container>
    </section>

  </div>
</div>