<div class="logo-container">
  <img src="/publics/plotagem.png" alt="Blue Plot Logo" class="logo" />
  <span class="logo-text">Blue Plot</span>
</div>

<nav class="nav-menu">
  <div class="nav-item">
    <a href="/inicio" class="nav-link">
      <i class="fas fa-home"></i> Início
    </a>
  </div>
  <div class="nav-item">
    <a href="/analises" class="nav-link">
      <i class="fas fa-chart-line"></i> Análises
    </a>
  </div>
  <div class="nav-item">
    <a href="/salvos" class="nav-link"> <i class="fas fa-save"></i> Salvos </a>
  </div>
  <div class="nav-item">
    <a href="#" class="nav-link">
      <i class="fas fa-sliders-h"></i> Configurações
    </a>
  </div>
  <div class="nav-item">
    <a href="/ajuda" class="nav-link">
      <i class="fas fa-question-circle"></i> Ajuda
    </a>
  </div>
</nav>

<div class="user-actions">
  <button class="btn btn-login" onclick="openAuthModal('login')">
    <i class="fas fa-user"></i> Login
  </button>
</div>