.box{
    display:inline-flex;
    width: 260px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 76px;
    
    img{
        width: 150%;
        height: 200px;
        box-sizing: border-box;
    }


    &:hover {    
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.box-descricao{
    padding-top: 10px;
    word-wrap: break-word;

    p{
        font-size: 20px;
    }
}


a{
    color: black;
    text-decoration: none;
}

.card-desabilitado{
    opacity: 50%;

    a{
        user-select: none;
    }
}