<div class="main-content" style="background-color: #E48586; padding-bottom: 165px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card card-wizard" id="wizardCard" style="background-color: #ba6061; color: #fec">

          <form [formGroup]="formulario" id="wizardForm" method="" action="">

            <div class="header text-center">
              <h3 class="title" style="color: #fec">Finalizando compra</h3>
            </div>

            <div class="content">
              <ul class="nav nav-pills-blue">
                <li style="width: 33%"><a href="#tab1" data-toggle="tab">Dados pessoais</a></li>
                <li style="width: 33%"><a href="#tab2" data-toggle="tab">Endereço</a></li>
                <li style="width: 33%"><a href="#tab3" data-toggle="tab">Finalizando</a></li>
              </ul>

              <div class="tab-content">

                <!-- <section id="dadosPessoal"> -->
                <div class="tab-pane" id="tab1">
                  <h5 class="text-center">Por favor conte um pouco sobre você.</h5>

                  <div class="row col-md-12">
                    <div class="col-md-5 col-md-offset-1 form-group">
                      <label class="control-label" style="color: #fec">Nome completo: </label>
                      <input class="form-control" type="text" name="nome" placeholder="Insira o seu nome"
                        formControlName="nome" />
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="control-label" style="color: #fec">Telefone:</label>
                      <input class="form-control" name="telefone" placeholder="Insira o seu telefone" type="text"
                        formControlName="telefone" mask="(00) 0000-00000">
                    </div>
                  </div>

                  <div class="row col-md-12">
                    <div class="col-md-5 col-md-offset-1 form-group">
                      <label for="idade" style="color: #fec">Quantos anos você tem: <i class="fa fa-question-circle"
                          style="cursor: pointer;" (click)="abrirInformacaoValores()"></i></label>
                      <input class="form-control" name="idade" formControlName="idade" placeholder="Insira a sua idade"
                        type="number" min="0">
                    </div>

                    <section id="ehBebe">
                      <div *ngIf="formulario.get('idade').value < 4 && formulario.get('idade').value != null"
                        class="col-md-3 form-group">
                        <label for='ativo' class='control-label' style="color: #fec"> Faz 5 dias que vacinou: </label>
                        <br>
                        <bSwitch formControlName='faz5DiasQueVacinou' id='ativo' [switch-on-color]="'success'"
                          [switch-off-text]="'Não'" [switch-on-text]="'Sim'"> </bSwitch>
                      </div>
                    </section>

                    <section *ngIf="formulario.get('idade').value >= 4 && formulario.get('idade').value != null"
                      id="naoEhBebe">

                      <div class="col-md-2 form-group">
                        <label for="temAlergia" class="control-label" style="color: #fec">Tem alergia: </label><br>
                        <bSwitch formControlName="temAlergia" id="temAlergia" [switch-on-color]="'success'"
                          [switch-off-text]="'Não'" [switch-on-text]="'Sim'"></bSwitch>
                      </div>

                      <section *ngIf="formulario.get('temAlergia').value" id="possuiAlergia">
                        <div class="col-md-3 form-group">
                          <label for="alergias" class="control-label" style="color: #fec">Alergias: </label>
                          <input class="form-control" formControlName="alergias" type="text" id="alergias"
                            placeholder="Insira o tipo de alergia">
                        </div>
                      </section>

                    </section>

                  </div>

                  <div class="row">
                    <div class="col-md-5 col-md-offset-1 form-group">
                      <label for='furouAntes' class='control-label' style="color: #fec"> É seu primeiro furo: </label>
                      <br>
                      <bSwitch formControlName='furouAntes' id='furouAntes' [switch-on-color]="'success'"
                        [switch-off-text]="'Não'" [switch-on-text]="'Sim'"></bSwitch>
                    </div>

                    <ng-container id="jaForouAntes" *ngIf="!formulario.get('furouAntes').value">
                      <div class="col-md-5 form-group">
                        <label for="jaFurouAntes" class="control-label" style="color: #fec"> Quantas vezes você ja
                          furou: </label>
                        <input formControlName="jaFurouAntes" id="jaFurouAntes" class="form-control" type="number">
                      </div>
                    </ng-container>
                  </div>

                  <div class="row">
                    <div class="col-md-3 col-md-offset-1 form-group">
                      <label for="control-label" style="color: #fec"> Aonde vai ser o furo: <i
                          class="fa fa-question-circle" style="cursor: pointer;"
                          (click)="abrirInformacaoFuros()"></i></label>
                      <select class="form-control" formControlName="localFuro" name="localFuro" id="localFuro">
                        <option value='null' selected>Selecione...</option>
                        <option value="Lóbulo">Lóbulo</option>
                        <option value="Antitrago">Antitrago</option>
                        <option value="Trago">Trago</option>
                        <option value="Hélice">Hélice</option>
                        <option value="Escafa">Escafa</option>
                        <option value="Tubérculo Darwin">Tubérculo Darwin</option>
                        <option value="Fossa Triangula">Fossa Triangular</option>
                        <option value="Concha">Concha</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- </section> -->

                <div class="tab-pane" id="tab2">
                  <h5 class="text-center" style="color: #fec">Por favor informe o endereço da operação.</h5>

                  <div class="row">
                    <div class="col-md-7 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label" style="color: #fec">A operação vai ser no domicílio? <span
                            class="star">*</span></label> <br>
                        <bSwitch style="align-items: center;" formControlName="noDomicilio"
                          [switch-on-color]="'success'" [switch-off-text]="'Não'" [switch-on-text]="'Sim'"
                          (changeState)="changeDomicilio($event.currentValue)"></bSwitch>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label" style="color: #fec">CEP: <span class="star">*</span></label>
                        <input class="form-control" type="text" name="cep" formControlName="cep" mask="00000-000"
                          placeholder="Informe o cep" (input)="carregarCep($event.target.value)" />
                      </div>
                    </div>
                    <div class="col-md-8 form-group">
                      <label class="control-label" style="color: #fec">Bairro: </label>
                      <input class="form-control" type="text" name="bairro" id="bairro" formControlName="bairro"
                        placeholder="Informe o bairro">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 col-md-offset-1 form-group">
                      <label for="rua" class="control-label" style="color: #fec">Logradouro: </label>
                      <input class="form-control" type="text" name="rua" id="rua" formControlName="rua"
                        placeholder="Informe a rua">
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="numero" class="control-label" style="color: #fec">Número: </label>
                      <input class="form-control" type="number" nome="numero" id="numero" formControlName="numero"
                        placeholder="Informe o número">
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="complemento" class="control-label" style="color: #fec">Complemento: </label>
                      <input class="form-control" name="complemento" id="complemento" type="text"
                        formControlName="complemento" placeholder="Informe o complemento">
                    </div>
                  </div>
                </div>


                <div class="tab-pane" id="tab3">

                  <div class="row">
                    <div class="col-md-12">
                      <table id='datatables' class='table table-striped table-no-bordered table-hover' cellspacing='0'>
                        <thead>
                          <tr>
                            <th class="col-md-6" style="color: #FCBAAD">Produto</th>
                            <th clas="col-md-6" style="color: #FCBAAD">Valor</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="dataTable.dataRows.length == 0" style="background-color: #9e5455">
                            <td colspan="16" class="text-center" style="color: #FCBAAD">Nenhum produto adicionado ao
                              carrinho.
                            </td>
                          </tr>

                          <tr *ngFor="let data of dataTable.dataRows" style="background-color: #9e5455">
                            <td style="color: #FCBAAD">{{data.nome}}</td>
                            <td style="color: #FCBAAD">{{data.valor}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12 form-group text-center">
                      <label for="gostariaDeAdcionarServico" style="color: #FCBAAD">Gostaria de adicionar o serviço de
                        furo?</label><br>
                      <bSwitch style="align-items: center;" formControlName='adicionarServicoFuro' id='furouAntes'
                        [switch-on-color]="'success'" [switch-off-text]="'Não'" [switch-on-text]="'Sim'"
                        (ngModelChange)="changeAdicionarServicoFuro($event)"></bSwitch>
                    </div>
                  </div>

                  <div class="row">
                    <h2 class="text-center" style="color: #fec">Valor Total: R$ {{valorTotal}}</h2>
                  </div>

                  <div class="row">
                    <h5 class="text-center" style="color: #fec">Por favor informe a forma de pagamento.</h5>
                  </div>

                  <div class="row" style="margin-top: 20px">
                    <div class="col-md-12 text-center form-group">
                      <label class='control-label' style="color: #fec"> Qual vai ser a forma de pagamento? </label>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <input type="radio" name="pagamento" id="pagamentoDebito" value="debito"
                              formControlName="pagamento">
                            <label for="pagamentoDebito" style="color: #fec">
                              Débito
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <input type="radio" name="pagamento" id="pagamentoCredito" value="credito"
                              formControlName="pagamento">
                            <label for="pagamentoCredito" style="color: #fec">
                              Crédito
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <input type="radio" name="pagamento" id="pagamentoDinheiro" value="dinheiro"
                              formControlName="pagamento">
                            <label for="pagamentoDinheiro" style="color: #fec">
                              Dinheiro
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="email" class="contral-label" style="color: #fec">Email <span
                          class="star">*</span></label>
                      <input type="text" formControlName="email" id="email" class="form-control" name="email">
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="footer">
              <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left">Voltar</button>
              <button type="button" class="btn btn-pesquisar btn-wd btn-next pull-right"
                style="width: 23%;">Continuar</button>
              <button type="button" class="btn btn-pesquisar btn-wd btn-finish pull-right" style="width: 23%;"
                (click)="onFinishWizard()">Finalizar</button>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>