<!-- Modal de Autenticação -->
<div class="modal" id="authModal" style="display: none">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="authModalTitle">Entrar</h2>
      <button class="close-modal" onclick="fecharModal()">&times;</button>
    </div>
    <div class="modal-body">
      <form id="loginForm" class="auth-form active">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" id="login" placeholder="Login" required />
        </div>
        <div class="form-group">
          <label for="login-password">Senha</label>
          <input
            type="password"
            id="login-password"
            placeholder="Sua senha"
            required
          />
        </div>
        <!-- <div style="text-align: right; margin-top: 0.5rem">
          <a
            href="#"
            style="
              color: var(--primary-blue);
              text-decoration: none;
              font-size: 0.9rem;
            "
            onclick="showForgotPassword()"
            >Esqueceu a senha?</a
          >
        </div> -->

        <div id="login-alert" style="color: red; display: none"></div>

        <div class="auth-actions">
          <button
            type="button"
            class="btn btn-primary btn-entrar"
            style="width: 100%"
            id="login-button"
          >
            <i class="fas fa-sign-in-alt"></i> Entrar
          </button>
        </div>
        <div class="auth-switch">
          Não tem uma conta?
          <a href="#" onclick="switchAuthForm('register')">Cadastre-se</a>
        </div>
      </form>

      <form id="registerForm" class="auth-form">
        <div class="form-group">
          <label for="cadastro-name">Nome Completo</label>
          <input
            type="text"
            id="cadastro-name"
            placeholder="Seu nome completo"
            required
          />
        </div>
        <div class="form-group">
          <label for="cadastro-name">Login</label>
          <input
            type="text"
            id="cadastro-login"
            placeholder="Digite seu Login"
            required
          />
        </div>
        <div class="form-group">
          <label for="cadastro-email">E-mail</label>
          <input
            type="email"
            id="cadastro-email"
            placeholder="seu@email.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="cadastro-password">Senha</label>
          <input
            type="password"
            id="cadastro-password"
            placeholder="Mínimo 8 caracteres"
            required
          />
        </div>
        <div class="form-group">
          <label for="cadastro-confirm">Confirmar Senha</label>
          <input
            type="password"
            id="cadastro-confirm"
            placeholder="Confirme sua senha"
            required
          />
        </div>
        
        <div id="cadastro-alert" style="color: red; display: none"></div>

        <div class="auth-actions">
          <button
            type="button"
            class="btn btn-primary"
            id="cadastro-button"
            style="width: 100%; justify-content: center;"
          >
            <i class="fas fa-user-plus"></i> Cadastrar
          </button>
        </div>
        <div class="auth-switch">
          Já tem uma conta?
          <a href="#" onclick="switchAuthForm('login')">Faça login</a>
        </div>
      </form>
    </div>
  </div>
</div>
