<div class='main-content'>
    <div class= 'container-fluid'>
        <div class= 'row'>
            <div class='col-md-12'>
                <div class='card'>
                    <div class='header'>
                        Cadastro de Usuario
                    </div>
                    <div class='content'>
                        <form [formGroup]='formularioCadastroUsuario' #f='ngForm' (submit)='salvar()' novalidate>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='nome' class='control-label'> Nome: <span class='star'> *</span>
                                    </label>
                                    <input formControlName = '_nome'[placeholder] = 'nomePlaceholder' type='text'
                                        (change)='nome = $event.target.value' class='form-control' id='nome
'                                        maxlength='55' [value]='nome'>
                                    <small class='text-danger'
                                        *ngIf="formularioCadastroUsuario.get('_nome')?.errors?.required && f.submitted">
                                        É necessário inserir Nome
                                    </small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='cpf' class='control-label'> Cpf: <span class='star'> *</span>
                                    </label>
                                    <input formControlName = '_cpf'[placeholder] = 'cpfPlaceholder' type='text'
                                        (change)='cpf = $event.target.value' class='form-control' id='cpf
'                                        maxlength='55' [value]='cpf'>
                                    <small class='text-danger'
                                        *ngIf="formularioCadastroUsuario.get('_cpf')?.errors?.required && f.submitted">
                                        É necessário inserir Cpf
                                    </small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='rg' class='control-label'> Rg: <span class='star'> *</span>
                                    </label>
                                    <input formControlName = '_rg'[placeholder] = 'rgPlaceholder' type='text'
                                        (change)='rg = $event.target.value' class='form-control' id='rg
'                                        maxlength='55' [value]='rg'>

                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='dataNascimento' class='control-label'> DataNascimento: <span class='star'> *</span>
                                    </label>
                                    <input formControlName = '_dataNascimento'[placeholder] = 'dataNascimentoPlaceholder' type='text'
                                        (change)='dataNascimento = $event.target.value' class='form-control' id='dataNascimento
'                                        maxlength='55' [value]='dataNascimento'>
                                    <small class='text-danger'
                                        *ngIf="formularioCadastroUsuario.get('_dataNascimento')?.errors?.required && f.submitted">
                                        É necessário inserir DataNascimento
                                    </small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <label for='email' class='control-label'> Email: <span class='star'> *</span>
                                    </label>
                                    <input formControlName = '_email'[placeholder] = 'emailPlaceholder' type='text'
                                        (change)='email = $event.target.value' class='form-control' id='email
'                                        maxlength='55' [value]='email'>
                                    <small class='text-danger'
                                        *ngIf="formularioCadastroUsuario.get('_email')?.errors?.required && f.submitted">
                                        É necessário inserir Email
                                    </small>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-2 col-md-offset-8'>
                                    <button class='btn btn-danger btn-fill' [routerLink]="'/usuario'"
                                        style='width: 100%;'>
                                        <i class='pe-7s-back' style='font-weight: bold;'></i> Cancelar
                                    </button>
                                </div>
                                <div class='col-md-2'>
                                    <button class='btn btn-primary btn-fill' type='submit' style='width: 100%;'
                                        [disabled]='viewOnly'>
                                        <i class='pe-7s-diskette' style='font-weight: bold;'></i> Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
